@media screen and (max-width: 992px){
  .lang {
    .dropdown-toggle{
      padding: 0;
    }
  }
}
@media screen and (max-width:768px){
  header{
    .exchange{
      .desc {
        .subtitle{
          display:none;
        }
        .store{
          display: none;
        }
      }
      .calculator{
        .calculator-container{
          width: 100%;
          li{
            .input-group{
              .iwant-input, .ihave-input{
                width: 232px;
              }
              .custom-from-dropdown{
                width: 350px;
                background-position-x: 230px;
              }
            }
          }
          
          .last{
            button{
                  width: 100%;
            }
          }
        }
        .calculator-info{
          left: 15px;
          width: 92.8%;
        }
      }
    }
  }  
  .lang {
    .dropdown-toggle{
      padding: 8px;
    }
  }  
  #login-dp{
    background-color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

@media screen and (max-width:414px){
  .navbar-default{
    margin-bottom: -50px;
  }
  header{
    text-align: left;
    nav {
      text-align: center;
      position: relative;
      top: -65px;
      .navbar-collapse{
        margin-top: 15px;
      }
    }
    .exchange{
      .desc{
        display: none;
      }
      .calculator{
        .calculator-container{
          width: 100%;
          padding: 30px 15px;
          li{
            .input-group{
              width: 63%;
              .iwant-input, .ihave-input{
                width: 100%;
              }
              .custom-from-dropdown{
                width: 158%;
                background-position-x: 100%;
              }
            }
          }
        }
        .calculator-info{
          width: 92.2%;
          left: 15px;
          top: 420px;
          .info{
            font-size: 0.6em;
          }
        }
      }
    }
  }
}

@media screen and (max-width:376px){
  header {
    .exchange {
      .calculator{
        .calculator-container{
          li{
            .input-group{
              width: 55%;
              .iwant-input, .ihave-input{
                width: 100%;
              }
              .custom-from-dropdown{
                width: 180%;
                background-position-x: 100%;
              }
            }
          }
        }
        .calculator-info{
          width: 91.2%;
        }  
      }  
    } 
  }   
}

@media screen and (max-width:320px){
  header {
    img {
      width: 80%;
    }
    .exchange {
      .calculator{
        .calculator-container{
          li{
            .input-group{
              width: 50%;
              .iwant-input, .ihave-input{
                width: 100%;
              }
              .custom-from-dropdown{
                width: 200%;
                background-position-x: 100%;
              }
            }
          }
        }
        .calculator-info{
          width: 89.5%;
        } 
      }
    }
  }
}